
<div class="container d-flex flex-row">
    <div class="m-4">
        <div class="container d-flex gap-5" *ngIf="!isEditing">
            <app-task-form></app-task-form>
            <div>
                <table class="table caption-top m-4">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Employee</th>
                            <th scope="col">Project</th>
                            <th scope="col">Name</th>
                            <th scope="col" style="color: blue;">Edit</th>
                            <th scope="col" style="color: red;">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let task of tasks; let i = index">
                            <th scope="row"> {{ i + 1 }}</th>
                            <td>{{ task.employee }}</td>
                            <td>{{ task.project }}</td>
                            <td>{{ task.name }}</td>
                            <td><i class="bi bi-pencil-square" style="color: blue;" (click)="changeToEditMode(task)"></i></td>
                            <td><i class="bi bi-trash3" style="color: red;" (click)="deleteTask(task.id)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="container" *ngIf="isEditing">
            <div class="mb-3">
                <label for="name" class="form-label">Employee's name</label>
                <input 
                type="text" 
                class="form-control" 
                id="name"
                [(ngModel)]="partialTask.employee"
                required>
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Project</label>
                <input 
                type="text" 
                class="form-control" 
                id="surname"
                [(ngModel)]="partialTask.project"
                required>
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Task Name</label>
                <input 
                type="text" 
                class="form-control" 
                id="surname"
                [(ngModel)]="partialTask.name"
                required>
            </div>
            <div class="container d-flex gap-5">
                <button type="button" class="btn btn-success" (click)="updateTask()">Update Task</button>
                <button type="button" class="btn btn-secondary" (click)="changeToNormaMode()">Go Back</button>
            </div>
        </div>
    </div>
</div>
